### Import Libraries

In [ ]:
import json
import pandas as pd
from collections import defaultdict

### Function Testing

In [2]:
f = open('yelp_dataset/yelp_academic_dataset_business.json', 'r')
business_dict = defaultdict(list)

In [3]:
entry = next(f)
entry = json.loads(entry)
print(entry)

{'business_id': 'Pns2l4eNsfO8kk83dixA6A', 'name': 'Abby Rappoport, LAC, CMQ', 'address': '1616 Chapala St, Ste 2', 'city': 'Santa Barbara', 'state': 'CA', 'postal_code': '93101', 'latitude': 34.4266787, 'longitude': -119.7111968, 'stars': 5.0, 'review_count': 7, 'is_open': 0, 'attributes': {'ByAppointmentOnly': 'True'}, 'categories': 'Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists', 'hours': None}

In [4]:
for key, val in entry.items():
    print(key, val)

business_id Pns2l4eNsfO8kk83dixA6A
name Abby Rappoport, LAC, CMQ
address 1616 Chapala St, Ste 2
city Santa Barbara
state CA
postal_code 93101
latitude 34.4266787
longitude -119.7111968
stars 5.0
review_count 7
is_open 0
attributes {'ByAppointmentOnly': 'True'}
categories Doctors, Traditional Chinese Medicine, Naturopathic/Holistic, Acupuncture, Health & Medical, Nutritionists
hours None

In [5]:
for key, val in entry.items():
    if key == 'city' and val == 'Affton':
        for key, val in entry.items():
            business_dict[key].append(val)

#### Filter out businesses in Madison

In [9]:
f = open('yelp_dataset/yelp_academic_dataset_business.json', encoding='UTF-8')
business_dict = defaultdict(list)
entry = next(f)
while True:
    try: 
        entry = json.loads(entry)
        for key, value in entry.items():
            if key == 'city' and value=='Madison':
                for key, value in entry.items():
                    business_dict[key].append(value)
        entry = next(f)
    except:
        break

In [10]:
business = pd.DataFrame(business_dict)
business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,BxhkoR6cscJwwex8gx31OA,Bar-B-Cutie,1787 Gallatin Pike N,Madison,TN,37115,36.296536,-86.700179,3.5,40,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3..."
1,5whwQ1UnbkT2wwD8-08Rpw,Cole Brothers,711 Myatt Center Ln,Madison,TN,37115,36.276642,-86.688547,4.0,13,1,{'BusinessAcceptsCreditCards': 'True'},"Automotive, Auto Parts & Supplies","{'Monday': '8:30-17:0', 'Tuesday': '8:30-17:0'..."
2,BFf44roOiEodYRu06Xq8cg,Wash N' Roll Car Wash - Madison,1215 Gallatin Pike S,Madison,TN,37115,36.246739,-86.720437,1.0,8,1,None,"Car Wash, Automotive","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
3,AuTmUY381to83xPwovoERg,Wingstop,127 Gallatin Pike N,Madison,TN,37115,36.264979,-86.712538,2.5,31,1,"{'NoiseLevel': ''average'', 'RestaurantsGoodFo...","Chicken Wings, Restaurants, American (Traditio...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ..."
4,QVbv447epxdOBOHK7loQPA,Island Breeze Cafe,936 Gallatin Pike S,Madison,TN,37115,36.252601,-86.718393,4.5,12,0,"{'Ambience': '{'romantic': False, 'intimate': ...","Caribbean, Restaurants",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,BCfgc411Gzs04qqAKC7KHA,Target,2050 Gallatin Rd N,Madison,TN,37115,36.304198,-86.694594,3.0,22,1,"{'BusinessParking': '{'garage': False, 'street...","Fashion, Shopping, Department Stores, Furnitur...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-23:59', ..."
272,pLY6RbderCrD_U4pYU0GqQ,Supercuts,"146 Gallatin Pike S, Krogers Plaza",Madison,TN,37115,36.262280,-86.713635,3.5,6,1,None,"Barbers, Cosmetics & Beauty Supply, Hair Salon...","{'Monday': '9:0-18:0', 'Tuesday': '9:0-18:0', ..."
273,bjC73SpCjWsRkQo5Jqxnkw,Mirror Mirror Hair Studio and Spa,"2021 Gallatin Pike N, Ste 268",Madison,TN,37115,36.301065,-86.693247,4.5,15,1,"{'RestaurantsPriceRange2': '2', 'GoodForKids':...","Massage, Nail Salons, Skin Care, Beauty & Spas...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-20:0', '..."
274,90dT-46nSrkDn4GQV5k4Dg,Rivergate Muffler & Auto Repair,159 Gleaves St,Madison,TN,37115,36.297016,-86.702994,5.0,6,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Auto Repair, Automotive","{'Monday': '8:0-18:0', 'Tuesday': '8:0-18:0', ..."
275,i6r6IdA-P8eGAgqZTUrQ3Q,Cal's Country Kitchen,222 Woodruff St,Madison,TN,37115,36.260648,-86.715288,4.5,67,0,"{'RestaurantsAttire': 'u'casual'', 'Caters': '...","Restaurants, Southern","{'Monday': '10:30-16:0', 'Tuesday': '10:30-16:..."

#### Categorize by Restaurants

In [11]:
business = business[business.categories.str.contains('Restaurants', na=False)]
business_list = set(business['business_id'])
business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,BxhkoR6cscJwwex8gx31OA,Bar-B-Cutie,1787 Gallatin Pike N,Madison,TN,37115,36.296536,-86.700179,3.5,40,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3..."
3,AuTmUY381to83xPwovoERg,Wingstop,127 Gallatin Pike N,Madison,TN,37115,36.264979,-86.712538,2.5,31,1,"{'NoiseLevel': ''average'', 'RestaurantsGoodFo...","Chicken Wings, Restaurants, American (Traditio...","{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ..."
4,QVbv447epxdOBOHK7loQPA,Island Breeze Cafe,936 Gallatin Pike S,Madison,TN,37115,36.252601,-86.718393,4.5,12,0,"{'Ambience': '{'romantic': False, 'intimate': ...","Caribbean, Restaurants",None
6,zOXvoQVFElBEhz__YT6VNw,Logan's Roadhouse,1715 Gallatin Pike N,Madison,TN,37115,36.295855,-86.699384,2.0,62,0,"{'NoiseLevel': 'u'very_loud'', 'HasTV': 'True'...","Steakhouses, Burgers, Barbeque, American (Trad...","{'Monday': '0:0-0:0', 'Saturday': '11:0-20:0'}"
9,5PFyyJoB_sO1UW3DUEBjHQ,Havana Grill,505 Gallatin Pike S,Madison,TN,37115,36.258256,-86.713418,4.5,7,0,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Restaurants, Caribbean",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,tkDs-InBqql7rqlAan97vA,Krystal,807 Gallatin Pike S,Madison,TN,37115,36.254480,-86.715134,2.0,12,0,"{'GoodForKids': 'True', 'WiFi': 'u'free'', 'Al...","Restaurants, American (New), Fast Food, Burgers","{'Monday': '6:0-1:59', 'Tuesday': '6:0-1:59', ..."
267,nPJnWLyxFrV5QvExf7Lexg,Jet's Pizza,1919 Gallatin Pike N,Madison,TN,37115,36.299760,-86.694923,2.5,29,0,"{'RestaurantsDelivery': 'True', 'GoodForKids':...","Restaurants, Pizza","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."
269,TghFJ7xWtTLg1bVDrAeAqQ,Metro Diner,2315 Gallatin Pike N,Madison,TN,37115,36.307353,-86.683648,3.5,115,0,"{'RestaurantsTableService': 'True', 'HappyHour...","Restaurants, American (Traditional), Diners, B...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-20:0', ..."
270,fsnv2igudDD6Gx2zYFAYew,China Bell,143 Gallatin Pike N,Madison,TN,37115,36.264759,-86.712098,2.5,35,1,"{'Alcohol': ''none'', 'GoodForKids': 'True', '...","Chinese, Restaurants","{'Monday': '10:30-22:0', 'Tuesday': '10:30-22:..."
275,i6r6IdA-P8eGAgqZTUrQ3Q,Cal's Country Kitchen,222 Woodruff St,Madison,TN,37115,36.260648,-86.715288,4.5,67,0,"{'RestaurantsAttire': 'u'casual'', 'Caters': '...","Restaurants, Southern","{'Monday': '10:30-16:0', 'Tuesday': '10:30-16:..."

### Load Review data

In [12]:
f = open('yelp_dataset/yelp_academic_dataset_review.json', encoding='UTF-8')
review_dict = defaultdict(list)
entry = next(f)
while True:
    try: 
        entry = json.loads(entry)
        for key, value in entry.items():
            if key == 'business_id':
                if value in business_list:
                    for key, value in entry.items():
                        review_dict[key].append(value)
        entry = next(f)
    except:
        break

In [13]:
review = pd.DataFrame(review_dict)
user_list = set(review['user_id'])
review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,RoeWrhJGsKLnlM1jmfp6-w,C5w8aVgjlQ_R_wpJlvs8Iw,BxhkoR6cscJwwex8gx31OA,1.0,1,0,0,"If I could give half a star I would, I'm from ...",2012-11-06 03:44:19
1,6J6H5YBSZCanJy3F_JUePw,I1I-hDutgN_KS0rVYPzvrA,zOXvoQVFElBEhz__YT6VNw,1.0,0,0,0,"This place is NASTY! . Floors, booths, sides o...",2016-09-18 18:12:37
2,zWGIitUzDIr78Fa14jFkBg,zJCXTCdVHhktcj61QJdbkQ,AuTmUY381to83xPwovoERg,5.0,2,0,1,This is what I've been waiting for!!! Finally ...,2015-03-04 21:06:03
3,FRjJpJKsxgNe2Uca_uTh9Q,O-z9ANkd6EkAY4WwRrEHrA,zOXvoQVFElBEhz__YT6VNw,4.0,0,0,0,We stopped at this Roadhouse while on vacation...,2017-06-28 00:32:41
4,IRUDsemr32_RlVNa9L_SZw,LarOkLonzqu5pLzZimS2BA,BxhkoR6cscJwwex8gx31OA,5.0,0,0,0,Tried and true Southern BBQ! The drive thru w...,2015-04-29 23:34:13
...,...,...,...,...,...,...,...,...,...
3698,kZk5UqADJD5v8OLG3h7NHg,aqQNrtyKva-g-PESTRjxlA,r2m-P3_xkb78p0urzidf6w,5.0,0,0,0,Tacos y Mariscos Lindo is dat authentic mex ho...,2021-11-18 02:20:46
3699,eduM9GyDqW0gd_5RXwF_0g,7GVZ6YHZrqzf771Sd3_g6A,s2QNCS8eIOS5DWKw7C-7qw,5.0,10,4,6,Ha. ha.. haaa.... ITS HOT AS H*LL! \n\nReally ...,2017-07-03 23:10:58
3700,1OssDbfPzpsFnTybZMSUSw,kLm3B6LeboEZWX_4otpILA,s2QNCS8eIOS5DWKw7C-7qw,5.0,1,0,1,Went here while in town last week for work. Le...,2018-02-12 16:58:22
3701,SCHuxhbnas-aE6NktsNTdQ,zI2CUxG7nbcWSbH3rh_TMQ,s2QNCS8eIOS5DWKw7C-7qw,5.0,2,1,1,This is now my favorite hot chicken joint afte...,2019-11-22 22:50:42
3702,j4awBXENF19L7KclrS5sDg,t2b7ecDGklTeFTPhWp15cA,8VOAQKQkYJsKrkFfCXkP_g,1.0,0,0,0,"Brand new but filthy. Trash overflowing, dirty...",2021-11-07 23:54:35

### Load User data

In [14]:
f = open('yelp_dataset/yelp_academic_dataset_user.json', encoding='UTF-8')
user_dict = defaultdict(list)
entry = next(f)

while True:
    try:
        entry = json.loads(entry)
        for key, value in entry.items():
            if key == 'user_id':
                if value in user_list:
                    for key, value in entry.items():
                        user_dict[key].append(value)
        entry = next(f)
    except:
        break

In [15]:
user = pd.DataFrame(user_dict)
user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,8zkkuk8KOoNojZhTx0j5KA,Melissa,159,2010-02-05 22:30:21,256,51,77,"2012,2013,2014","p-lbHRoUAPC0OWmOXtzNIA, 0EXuIg5v5rnQzGh8P8uRKw...",11,...,5,2,0,0,3,6,6,6,12,2
1,gYDFiPYFCeY52vvMvvy5Pw,Jamie,193,2009-08-27 19:07:33,411,120,178,"2010,2011,2012,2013,2014","TlyQgUgNdlPy8fzNfUVisg, j6nf8I74MHf1bOVX-xtyPA...",18,...,7,6,3,3,8,35,43,43,19,1
2,qA3AGHIFaNyEd1PRX3QWRg,Mell,105,2009-05-27 02:41:46,209,104,100,"2010,2011,2012","iqERg1gRi-yFnq76GPdH1Q, qrgntE5sPp0ac8P300GMlg...",10,...,7,3,0,2,10,11,20,20,4,2
3,JITevzyEgskIJc6sgOyEgw,Kristin Marie,645,2008-02-11 19:45:49,1517,783,963,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","pUFeni_I0oJ5CSVlWkfnNA, ywwTdqHQKbXyHa-gEFc4Sg...",70,...,34,19,4,11,49,89,152,152,65,8
4,flj6NjfxqwudsBvOTbrhug,Mel,94,2010-03-24 02:00:23,106,53,46,"2012,2013","xeq3zCuMIjPI5ZPVqWdTNQ, AMYF7VhQOyzYlhOD0u3zVQ...",2,...,3,3,1,2,4,3,12,12,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2738,b47mi5Pf91LLibIk8MnUsQ,Khalimah,7,2019-12-31 07:21:01,1,1,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
2739,xmhJYpuIukbEvt1Ynz8rUA,Abbie,7,2014-01-03 20:34:40,4,1,1,,None,0,...,0,0,0,0,0,1,0,0,0,0
2740,Z6GQDe_3kJ5iu5N0wjKEVQ,Kim,2,2014-11-26 02:18:51,4,0,1,,None,0,...,0,0,0,0,0,0,0,0,0,0
2741,AphubDeYG00R4TdIQzNgsw,Joe,3,2013-12-11 02:17:15,1,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
2742,4sGIoDkHjIYEqOHxFjPdIg,Janell,8,2015-08-23 00:37:38,19,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

## Merge all dataframes

In [16]:
data = pd.merge(review, business, on=['business_id'])
data = pd.merge(data, user, on=['user_id'])
data

,review_id,user_id,business_id,stars_x,useful_x,funny_x,cool_x,text,date,name_x,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,RoeWrhJGsKLnlM1jmfp6-w,C5w8aVgjlQ_R_wpJlvs8Iw,BxhkoR6cscJwwex8gx31OA,1.0,1,0,0,"If I could give half a star I would, I'm from ...",2012-11-06 03:44:19,Bar-B-Cutie,...,0,0,0,0,0,0,0,0,0,0
1,1G5FtIlbqRFveX5Qw_fOYQ,C5w8aVgjlQ_R_wpJlvs8Iw,WtyG40CPjI1Uza7upMjoCA,4.0,1,0,0,I used to live in Pa. and have a thing for Ita...,2012-11-06 03:53:13,Jersey Mike's Subs,...,0,0,0,0,0,0,0,0,0,0
2,IRUDsemr32_RlVNa9L_SZw,LarOkLonzqu5pLzZimS2BA,BxhkoR6cscJwwex8gx31OA,5.0,0,0,0,Tried and true Southern BBQ! The drive thru w...,2015-04-29 23:34:13,Bar-B-Cutie,...,4,0,0,0,0,0,0,0,0,0
3,cqj2RYMmgcdK1EK_Bt8LUA,Sqf1htPNT3-pJbRDdifp_w,BxhkoR6cscJwwex8gx31OA,4.0,0,0,0,Place is in a strip mall. Very unassuming plac...,2015-12-21 02:21:10,Bar-B-Cutie,...,7,0,0,0,56,56,51,51,25,6
4,1ZqUzjGfgWvtm-PfE7Myxg,_Owf_BBGPjLaeRCiFeKnlg,BxhkoR6cscJwwex8gx31OA,5.0,0,0,0,Food is always good and service is excellent. ...,2016-06-23 16:46:56,Bar-B-Cutie,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3698,_9q_4WfzAYda9fe8XsV6gA,xklo3EUkG6v3_AtL7LRq_Q,8VOAQKQkYJsKrkFfCXkP_g,1.0,0,0,0,Terrible service. Short girl was very rude. ...,2021-10-27 22:05:02,Chipotle Mexican Grill,...,0,0,0,0,0,0,0,0,0,0
3699,gWnS4N7qh6MPuxK25DpZpg,qrONdSpoVjGzzOwKkjZAOQ,8VOAQKQkYJsKrkFfCXkP_g,1.0,2,1,0,Disgrace to the Chipotle name. Avoid this loca...,2021-09-02 00:31:18,Chipotle Mexican Grill,...,0,0,0,0,0,0,0,0,0,0
3700,MdanlXknERTCQgJtIWN9Tg,qrihJkKbTsWo-2PbHS9-bQ,8VOAQKQkYJsKrkFfCXkP_g,2.0,0,0,0,Arrived at opening. Dinning room tables and fl...,2021-10-24 16:33:29,Chipotle Mexican Grill,...,0,0,0,0,0,0,0,0,0,0
3701,Rd2OQJ9Gn2XZrn_j2XXrVg,JFtkFbVK7hwU9K85xHFPIQ,8VOAQKQkYJsKrkFfCXkP_g,1.0,1,0,0,This location is highly nasty and unsanitary! ...,2021-10-02 02:07:01,Chipotle Mexican Grill,...,0,0,0,0,0,0,0,0,0,0
3702,j4awBXENF19L7KclrS5sDg,t2b7ecDGklTeFTPhWp15cA,8VOAQKQkYJsKrkFfCXkP_g,1.0,0,0,0,"Brand new but filthy. Trash overflowing, dirty...",2021-11-07 23:54:35,Chipotle Mexican Grill,...,0,0,0,0,0,0,0,0,0,0

### Rename columns, Check missing values and create readable dataset

In [17]:
data.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful_x', 'funny_x',
       'cool_x', 'text', 'date', 'name_x', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count_x',
       'is_open', 'attributes', 'categories', 'hours', 'name_y',
       'review_count_y', 'yelping_since', 'useful_y', 'funny_y', 'cool_y',
       'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

In [18]:
data_rename = data.rename(columns={'stars_x':'review_stars', 'useful_x':'review_useful','funny_x':'review_funny', 'cool_x':'review_cool',
                          'name_x':'business_name', 'stars_y':'business_stars', 'review_count_x':'business_review_count', 'name_y':'user_name',
                          'review_count_y':'user_review_count', 'useful_y':'vote_useful', 'funny_y':'vote_funny', 'cool_y':'vote_cool'})
                    
data_rename.columns

Index(['review_id', 'user_id', 'business_id', 'review_stars', 'review_useful',
       'review_funny', 'review_cool', 'text', 'date', 'business_name',
       'address', 'city', 'state', 'postal_code', 'latitude', 'longitude',
       'business_stars', 'business_review_count', 'is_open', 'attributes',
       'categories', 'hours', 'user_name', 'user_review_count',
       'yelping_since', 'vote_useful', 'vote_funny', 'vote_cool', 'elite',
       'friends', 'fans', 'average_stars', 'compliment_hot', 'compliment_more',
       'compliment_profile', 'compliment_cute', 'compliment_list',
       'compliment_note', 'compliment_plain', 'compliment_cool',
       'compliment_funny', 'compliment_writer', 'compliment_photos'],
      dtype='object')

In [19]:
data_filtered = data_rename[['text','date','review_stars','review_useful','review_funny','review_cool',
                            'business_name', 'address', 'business_stars','is_open','attributes','categories','hours',
                            'user_name','user_review_count','average_stars','yelping_since','vote_useful','vote_funny','vote_cool']]

data_filtered.dropna(axis=0, how='any', subset=None, inplace=True)
data_filtered['text'].isnull().any()
data_filtered

C:\Users\TEJAS\AppData\Local\Temp\ipykernel_45460\322395789.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered.dropna(axis=0, how='any', subset=None, inplace=True)

,text,date,review_stars,review_useful,review_funny,review_cool,business_name,address,business_stars,is_open,attributes,categories,hours,user_name,user_review_count,average_stars,yelping_since,vote_useful,vote_funny,vote_cool
0,"If I could give half a star I would, I'm from ...",2012-11-06 03:44:19,1.0,1,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Sam,7,2.14,2012-11-06 03:29:10,6,1,1
1,I used to live in Pa. and have a thing for Ita...,2012-11-06 03:53:13,4.0,1,0,0,Jersey Mike's Subs,"1706 Gallatin Pike N, Ste 8A",2.0,1,"{'Alcohol': ''none'', 'Caters': 'True', 'Busin...","Sandwiches, Restaurants, Fast Food, Delis","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...",Sam,7,2.14,2012-11-06 03:29:10,6,1,1
2,Tried and true Southern BBQ! The drive thru w...,2015-04-29 23:34:13,5.0,0,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Sugar,138,3.76,2013-01-04 20:41:23,93,46,52
3,Place is in a strip mall. Very unassuming plac...,2015-12-21 02:21:10,4.0,0,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Tim,604,3.70,2010-05-29 05:36:50,1702,405,1270
4,Food is always good and service is excellent. ...,2016-06-23 16:46:56,5.0,0,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Kristin,6,3.57,2014-02-16 01:32:07,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3698,Terrible service. Short girl was very rude. ...,2021-10-27 22:05:02,1.0,0,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': '{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Gregory,3,2.33,2015-04-15 14:05:19,1,0,0
3699,Disgrace to the Chipotle name. Avoid this loca...,2021-09-02 00:31:18,1.0,2,1,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': '{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Jordan,1,1.00,2015-01-03 02:56:33,2,1,0
3700,Arrived at opening. Dinning room tables and fl...,2021-10-24 16:33:29,2.0,0,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': '{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Lisa,8,2.10,2018-03-28 02:33:33,1,2,0
3701,This location is highly nasty and unsanitary! ...,2021-10-02 02:07:01,1.0,1,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': '{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Jawana,1,1.00,2020-06-25 22:30:47,1,0,0
3702,"Brand new but filthy. Trash overflowing, dirty...",2021-11-07 23:54:35,1.0,0,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': '{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Curt,8,2.11,2019-11-23 14:38:11,15,1,4

In [20]:
export_csv = data_filtered.to_csv('yelp_data.csv', index=None, header=True)

In [21]:
data_cleaned = pd.read_csv('yelp_data.csv', na_values = ['nan'])

In [22]:
data_cleaned.dropna(axis=0, how='any', subset=None, inplace=True)
data_cleaned.isnull().any()

text                 False
date                 False
review_stars         False
review_useful        False
review_funny         False
review_cool          False
business_name        False
address              False
business_stars       False
is_open              False
attributes           False
categories           False
hours                False
user_name            False
user_review_count    False
average_stars        False
yelping_since        False
vote_useful          False
vote_funny           False
vote_cool            False
dtype: bool

In [23]:
data_cleaned

,text,date,review_stars,review_useful,review_funny,review_cool,business_name,address,business_stars,is_open,attributes,categories,hours,user_name,user_review_count,average_stars,yelping_since,vote_useful,vote_funny,vote_cool
0,"If I could give half a star I would, I'm from ...",2012-11-06 03:44:19,1.0,1,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Sam,7,2.14,2012-11-06 03:29:10,6,1,1
1,I used to live in Pa. and have a thing for Ita...,2012-11-06 03:53:13,4.0,1,0,0,Jersey Mike's Subs,"1706 Gallatin Pike N, Ste 8A",2.0,1,"{'Alcohol': ""'none'"", 'Caters': 'True', 'Busin...","Sandwiches, Restaurants, Fast Food, Delis","{'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...",Sam,7,2.14,2012-11-06 03:29:10,6,1,1
2,Tried and true Southern BBQ! The drive thru w...,2015-04-29 23:34:13,5.0,0,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Sugar,138,3.76,2013-01-04 20:41:23,93,46,52
3,Place is in a strip mall. Very unassuming plac...,2015-12-21 02:21:10,4.0,0,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Tim,604,3.70,2010-05-29 05:36:50,1702,405,1270
4,Food is always good and service is excellent. ...,2016-06-23 16:46:56,5.0,0,0,0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque","{'Monday': '10:0-20:30', 'Tuesday': '10:0-20:3...",Kristin,6,3.57,2014-02-16 01:32:07,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3516,Terrible service. Short girl was very rude. ...,2021-10-27 22:05:02,1.0,0,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Gregory,3,2.33,2015-04-15 14:05:19,1,0,0
3517,Disgrace to the Chipotle name. Avoid this loca...,2021-09-02 00:31:18,1.0,2,1,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Jordan,1,1.00,2015-01-03 02:56:33,2,1,0
3518,Arrived at opening. Dinning room tables and fl...,2021-10-24 16:33:29,2.0,0,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Lisa,8,2.10,2018-03-28 02:33:33,1,2,0
3519,This location is highly nasty and unsanitary! ...,2021-10-02 02:07:01,1.0,1,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Jawana,1,1.00,2020-06-25 22:30:47,1,0,0
3520,"Brand new but filthy. Trash overflowing, dirty...",2021-11-07 23:54:35,1.0,0,0,0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants","{'Monday': '10:45-22:0', 'Tuesday': '10:45-22:...",Curt,8,2.11,2019-11-23 14:38:11,15,1,4

### Drop unused columns

In [24]:
exclude = ['review_useful', 'review_funny', 'review_cool', 'hours', 'yelping_since', 'vote_useful', 'vote_funny', 'vote_cool']
data_cleaned.drop(columns=exclude, inplace = True)
data_cleaned

,text,date,review_stars,business_name,address,business_stars,is_open,attributes,categories,user_name,user_review_count,average_stars
0,"If I could give half a star I would, I'm from ...",2012-11-06 03:44:19,1.0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque",Sam,7,2.14
1,I used to live in Pa. and have a thing for Ita...,2012-11-06 03:53:13,4.0,Jersey Mike's Subs,"1706 Gallatin Pike N, Ste 8A",2.0,1,"{'Alcohol': ""'none'"", 'Caters': 'True', 'Busin...","Sandwiches, Restaurants, Fast Food, Delis",Sam,7,2.14
2,Tried and true Southern BBQ! The drive thru w...,2015-04-29 23:34:13,5.0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque",Sugar,138,3.76
3,Place is in a strip mall. Very unassuming plac...,2015-12-21 02:21:10,4.0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque",Tim,604,3.70
4,Food is always good and service is excellent. ...,2016-06-23 16:46:56,5.0,Bar-B-Cutie,1787 Gallatin Pike N,3.5,1,"{'GoodForKids': 'True', 'BusinessAcceptsCredit...","Restaurants, Barbeque",Kristin,6,3.57
...,...,...,...,...,...,...,...,...,...,...,...,...
3516,Terrible service. Short girl was very rude. ...,2021-10-27 22:05:02,1.0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants",Gregory,3,2.33
3517,Disgrace to the Chipotle name. Avoid this loca...,2021-09-02 00:31:18,1.0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants",Jordan,1,1.00
3518,Arrived at opening. Dinning room tables and fl...,2021-10-24 16:33:29,2.0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants",Lisa,8,2.10
3519,This location is highly nasty and unsanitary! ...,2021-10-02 02:07:01,1.0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants",Jawana,1,1.00
3520,"Brand new but filthy. Trash overflowing, dirty...",2021-11-07 23:54:35,1.0,Chipotle Mexican Grill,1806 Gallatin Pike N,1.0,1,"{'BusinessParking': ""{u'valet': False, u'garag...","Fast Food, Mexican, Restaurants",Curt,8,2.11

In [25]:
text_doc = data_cleaned['text']
text_doc_list = list(text_doc)
text_doc_test = text_doc_list[0:1000]
text_doc_test_2 = text_doc.iloc[:1000,]
target = data_cleaned['review_stars']
target_test = target.iloc[:1000,]

In [26]:
target_test.describe()

count    1000.000000
mean        3.295000
std         1.589497
min         1.000000
25%         2.000000
50%         4.000000
75%         5.000000
max         5.000000
Name: review_stars, dtype: float64

## Export into CSV

In [27]:
export_csv = data_cleaned.to_csv('yelp_data_cleaned.csv', index=None, header=True)